<div class="wrapper">
    
    <aside class="main_sidebar">
        <div class = "organisateur">
            <img src="./../../assets/user_icon2.ico" alt="Logo" class="logo">
            <h3> {{navbarData.nom}} {{navbarData.prenom}} </h3>
        </div>
        <ul>
            <li><i class="fa fa-arrows"></i><a href="#">Accueil</a></li>
            <li><i class="fa fa-battery-2"></i><a href="#">Evènement</a></li>
            <li class="active"><i class="fa fa-bell"></i><a href="#">Projet</a></li>
            <li><i class="fa fa-bicycle"></i><a href="#">QRcode</a></li>
            <li><i class="fa fa-circle"></i><a href="#">Liste d'émargement</a></li>
        </ul>
    </aside>
</div>
