<div class="confirmation-container">
  <h2>Confirmation de Présence</h2>
  
  <!-- Afficher les informations sur l'événement -->
  <div class="event-info" *ngIf="evenement">
    <p>Événement: {{ evenement.nom_evenement }}</p>
    <p>Date de début: {{ evenement.date_debut | date:'dd/MM/yyyy' }}</p>
    <p>Date de fin: {{ evenement.date_fin | date:'dd/MM/yyyy' }}</p>
    <p>Lieu: {{ evenement.lieu }}</p>
  </div>
  
  <!-- Formulaire de confirmation de présence -->
  <form (ngSubmit)="confirmPresence()">
    <label for="prenom_participant">Prénom:</label>
    <input type="text" id="prenom_participant" name="prenom_participant" [(ngModel)]="prenom_participant" required>

    <label for="nom_participant">Nom:</label>
    <input type="text" id="nom_participant" name="nom_participant" [(ngModel)]="nom_participant" required>

    <button type="submit">Confirmer</button>
  </form>
</div>
