<app-navbar></app-navbar>
<div class="content">
    <h1>Création d'un évènement</h1>
    <form (ngSubmit)="onClick()">
        <label >Nom de l'évènement<span>*</span>:</label><br>
        <input type="text" id="nom" name="nom" required [(ngModel)]="nom_evenement"><br><br>

        <label>Date et heure de début<span>*</span>:</label><br>
        <input type="datetime-local" id="date_debut" name="date_debut" required [(ngModel)]="debutev"><br><br>

        <label>Date et heure de fin<span>*</span>:</label><br>
        <input type="datetime-local" id="date_fin" name="date_fin" required [(ngModel)]="finev"><br><br>

        <label>Lieu<span>*</span>:</label><br>
        <input type="text" id="lieu" name="lieu" required [(ngModel)]="lieu"><br><br>


        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <input type="file" (change)="onFileSelected($event)" accept=".xls,.xlsx">
            <button type="submit">Upload</button>
        </form>
        <input type="submit" value="Créer l'évènement">
        <a href="../accueil/accueil.html"><button type="button">Retour</button></a>
        
    </form>
</div>

